/**jquery mobile override **/
.ui-header .ui-title {
	text-overflow:clip;
	margin-left: 1em;
	margin-right: 1em; 
}	
.ui-li-static.ui-li{
	padding:2px;
	min-height:85px;
}

/**Cards**/
.itemIcon{
	width:64px;
	height:64px;
	float:left;
	border-radius:10px;
	margin-right:5px;
	border:1px solid #BBBBBB;
	background-color:#CCCCCC;
}
.itemPricing{
	float:right;
}
.contentContainer{
	overflow:hidden;
}
.itemCardTitleContainer{
	margin-bottom:5px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

/**User agent style overrides**/
p{-webkit-margin-before: 1px; webkit-margin-after: 1px;}
body{overflow:hidden;}